*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Outfit', sans-serif;     
    background:  hsl(212, 45%, 89%);
    max-width: 1440px;
    
}

.container{
    
    display: flex;
    flex-direction: column; 
    flex-wrap: nowrap;  
    justify-content: center;
    align-content: center;
    align-items: center;
   
       
}

.cards{
    background:#fff;
    width: 300px;
    border-radius: 12px;
    padding: 12px;
    margin-top: 100px;
}

.card-img img{
    width: 100%;
    border-radius: 12px;
    
}

.card-body h2{
    font-size: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.card-body p{
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #6a6a6a;
}
